<ul>
    <% for (const todo of todos) {%>
        <li>
            <a href="/todo/<%= todo.id%>"><b><%= todo.title %></b></a>&nbsp;
            <b><%= todo.priority %></b>&nbsp;
            <a href="/remove-todo/<%= todo.id%>">odebrat</a>&nbsp;
            <a href="/toggle-todo/<%= todo.id%>">
                <%= todo.done ? "hotovo" : "nehotovo"%>
            </a>
        </li>
    <% } %>
    </ul>