<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>

    <h1>TODO</h1>
    <ul>
    <% for (const todo of todos) {%>
        <li>
            <a href="/todo/<%= todo.id%>"><b><%= todo.title %></b></a>&nbsp;
            <a href="/remove-todo/<%= todo.id%>">odebrat</a>&nbsp;
            <a href="/toggle-todo/<%= todo.id%>">
                <%= todo.done ? "hotovo" : "nehotovo"%>
            </a>
        </li>
    <% } %>
    </ul>

    <form method="post" action="/add-todo">
        <input name="title" placeholder="Nové TODO">
        <button type="submit">Přidat</button>
    </form>

</body>
</html>
