<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= todo.title %></title>
</head>
<body>

    <h1><%= todo.title %></h1>
    <%= todo.done ? "hotovo" : "nehotovo"%> <br>
    <a href="/toggle-todo/<%= todo.id%>">Změnit stav</a> <br><br>
    <a href="/remove-todo/<%= todo.id%>">Odebrat</a> <br><br>
    

    <h3>Uprav TODO:</h3>
    
    <form method="post" action="/update-todo/<%= todo.id %>">
        <input name="title" placeholder="Nový název"><br>

        <select name="priority">
            <option value="0" <%= todo.priority==0 ? "selected" : ""%>><%=prio_text[0]%></option>
            <option value="1" <%= todo.priority==1 ? "selected" : ""%>><%=prio_text[1]%></option>
            <option value="2" <%= todo.priority==2 ? "selected" : ""%>><%=prio_text[2]%></option>
         </select> <br>
         
        <button type="submit">Uložit</button>
    </form>
    <br>

    <a href="/">Zpět</a>

</body>
</html>
